* {
    margin: 0;
    padding: 0;
}

.video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -50;
}

.head1 {
    text-align: center;
    color: wheat;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-top: 5rem;
    animation-name: swipe1;
    animation-duration: 0.9s;
}

.head2 {
    text-align: center;
    color: rgb(122, 165, 53);
    padding-top: 3rem;
    font-family: 'Caveat', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    animation: swipe2 2s;
}
.nav {
    height: 50px;
}
.logo {
    height: 10rem;
}

.menu-bar {
    list-style: none;
    margin: 20px;
    flex: 1;
}
.menu-bar li {
    display: inline-block;
    margin: 10px 5px;
}
.menu-bar li a{
    text-decoration: none;
    color: wheat;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    border-bottom: 1.5px solid white;
}
.menu-bar li a:hover{
    background-color: teal;
    color: white;
    border-bottom: 3px solid teal;
    padding: 10px 5px 5px 10px;
}

@keyframes swipe1 {
    from{font-size: 0px;}
    to{font-size: 30px;}
}

@keyframes swipe2 {
    from{font-size: 0px;}
    to{font-size: 25px;}
}



